.page-draft {
	width: 793px;
	// height: 29cm;
	font-family: "Courier New", Courier, monospace !important;
	line-height: 2 !important;
	font-size: 12pt !important;
	.panel-body {
		&.margin-standard {
			margin-top: 2cm;
			margin-left: 5cm;
			margin-right: 1cm;
			margin-bottom: 3cm;
			padding: 0 !important;
		}
		.editable {
			cursor: text;
			line-height: 2 !important;
			&:after {
				margin-top: 0;
			}
			p {
				margin: 0px !important;
			}
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Courier New", Courier, monospace !important;
	}
	p, ol, ul{
		margin: 0px !important;
	}
}

.medium-editor {
	font-family: "Courier New", Courier, monospace !important;
	font-size: 12px !important;
	height: inherit !important;
	border: 0px !important;
	a {
		color: $color3 !important;
		text-decoration: underline;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Courier New", Courier, monospace !important;
	}
}
.medium-editor-toolbar ul {
	background-color: $color1;
	color: $color2;
	font-family: 'Open Sans', sans-serif !important;
	li button {
		border-right: 0;
		padding: 8px !important;
		font-size: 12px !important;
		&:hover {
			background-color: $color3;
		}
		&:active, &.medium-editor-button-active {
			background-color: $color3;
		}
	}
}
.medium-toolbar-arrow-under:after {
	border-color: $color1;
}
.medium-editor-placeholder:after {
	color: lighten($color4, 60%) !important;
	font-style: normal !important;
}
mark.highlight {
	background-color: $color1 !important;
	color: $color2 !important;
}