.medium-editor {
	font-family: Monospace !important;
	a {
		color: $color3 !important;
		text-decoration: underline;
	}
}
.medium-editor-toolbar ul {
	background-color: $color1;
	color: $color2;
	font-family: 'Open Sans', sans-serif !important;
	li button {
		border-right: 0;
		padding: 8px !important;
		font-size: 12px !important;
		&:hover {
			background-color: $color3;
		}
		&:active, &.medium-editor-button-active {
			background-color: $color3;
		}
	}
}
.medium-toolbar-arrow-under:after {
	border-color: $color1;
}
.medium-editor-placeholder:after {
	color: lighten($color4, 60%) !important;
	font-style: normal !important;
}
mark.highlight {
	background-color: $color1 !important;
	color: $color2 !important;
}